<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.StadUserFavoriteMapper">

    <resultMap type="StadUserFavorite" id="StadUserFavoriteResult">
        <result property="favoriteId" column="favorite_id"  />
        <result property="userId"     column="user_id"      />
        <result property="targetType" column="target_type"  />
        <result property="targetId"   column="target_id"    />
        <result property="createTime" column="create_time"  />
    </resultMap>

    <sql id="selectUserFavoriteVo">
        select favorite_id, user_id, target_type, target_id, create_time
        from stad_user_favorite
    </sql>

    <select id="selectStadUserFavoriteById" parameterType="Long" resultMap="StadUserFavoriteResult">
        <include refid="selectUserFavoriteVo"/>
        where favorite_id = #{favoriteId}
    </select>

    <select id="selectStadUserFavoriteList" parameterType="StadUserFavorite" resultMap="StadUserFavoriteResult">
        <include refid="selectUserFavoriteVo"/>
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="targetType != null and targetType != ''">
                AND target_type = #{targetType}
            </if>
            <if test="targetId != null">
                AND target_id = #{targetId}
            </if>
        </where>
        order by favorite_id desc
    </select>

    <insert id="insertStadUserFavorite" parameterType="StadUserFavorite" useGeneratedKeys="true" keyProperty="favoriteId">
        insert into stad_user_favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="targetType != null and targetType != ''">target_type,</if>
            <if test="targetId != null">target_id,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="targetType != null and targetType != ''">#{targetType},</if>
            <if test="targetId != null">#{targetId},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateStadUserFavorite" parameterType="StadUserFavorite">
        update stad_user_favorite
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="targetType != null">target_type = #{targetType},</if>
            <if test="targetId != null">target_id = #{targetId},</if>
        </set>
        where favorite_id = #{favoriteId}
    </update>

    <delete id="deleteStadUserFavoriteById" parameterType="Long">
        delete from stad_user_favorite where favorite_id = #{favoriteId}
    </delete>

    <delete id="deleteStadUserFavoriteByIds" parameterType="Long">
        delete from stad_user_favorite where favorite_id in
        <foreach item="favoriteId" collection="array" open="(" separator="," close=")">
            #{favoriteId}
        </foreach>
    </delete>

</mapper>